{% extends 'base.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
    <h1>Matiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodeMatiere</th>
                <th>Intitule</th>
                <th>Credits</th>
                <th>Coefficient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.codeMatiere }}</td>
                <td>{{ matiere.intitule }}</td>
                <td>{{ matiere.credits }}</td>
                <td>{{ matiere.coefficient }}</td>
                <td>
                    <a href="{{ path('app_matiere_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matiere_new') }}">Create new</a>
{% endblock %}
